extends ../../layout/default.pug
block main 

   if( messages.thanhCong)
      .info  
         div(
            show-alert 
            time = 5000 
         ) #{messages.thanhCong} <span close-alert> X </span>

   //- Phan tim kie, . 
   .form-tinh-nang
      form(id="form-search")
         input(
            type = "text"
            placeholder = "Nhap tu khoa"
            name = "keyword"
            value = keyword
         ) 
         button(type ="submit") tim

      form(
         action="products/change-multi?_method=PATCH" 
         method="POST"
         form-change-multi 
         )
            select(name="type" class = "form-control") 
               option(value="active") Hoat dong 
               option(value="inactive") Ngung hoat dong 
               option(value= "delete-item") Xoa tat ca
               option(value = "change-position") Thay doi vi tri 
            input(
               type="type"
               value = ""
               name = "ids"
               class = "form-input"
               )
            button(type="submit" class ="btn") Ap dung  


   each item in listButton   
      button(
         class =  item.class 
         status-button = item.status 
      )  #{item.name}

   //- them moi 1 san pham 
   .product-create 
      a(
         href="/admin/products/create"
         class = "create-product"
         ) + Them moi 

   .form-products
      table(checkbox-multi)
         thead 
            tr 
               th 
                  input(type="checkbox" name ="checkAll")
               th  STT
               th ten
               th Hinh anh
               th Trang trai
               th Chinh sua 

         tbody
            each item, idx in product 
               tr 
                  td                           
                     input(
                        type="checkbox"
                        name ="id"
                        value = item._id
                        )
                  td #{idx + 1}
                  td #{item.TenSanPham}
                  td 
                     img(src=item.hinhAnh width ="100px" , height ="100px")
                  td 
                     input(
                        type="number"
                        value= item.position
                        style = "width : 50px "
                        min = "1"
                        name = "position"
                        )
                  td 
                     if( item.status == "active")
                        button(
                           data-id = item._id 
                           data-status = item.status
                           button-change-status
                        ) Hoat dong 
                     else 
                        button(
                           data-id = item._id 
                           data-status = item.status
                           button-change-status 
                        ) Khong hoat dong 
                  td  
                     a( 
                        href = `/admin/products/edit/${item._id}`
                        data-id = item._id
                        ) Sua 
                     button( 
                        button-delete
                        data-id = item._id 
                     ) Xoa


   //- PHAN TRANG SAN PHAM . 
   div 
      ul(class ="pagination")
         if(pagination.currentPage  > 1)
            li(class = "page-item")
               button(
                  class = "page-link" 
                  button-page = pagination.currentPage -1 
               ) Trang tuoc
         
         -for( let i = 1 ;i <= pagination.soLuongPage ;i++)
            li(class =`page-item ${pagination.currentPage == i ? "mau" : ""} `)
               button(
                  class = "page-link"
                  button-page = i 
               ) #{i}

         if(pagination.currentPage < pagination.soLuongPage)
               li(class = "page-item")
                  button(
                     class = "page-link" 
                     button-page = pagination.currentPage +1 
                  ) Trang sau

   //- tinh nang thay doi 1 san pham . 
   form(
      action=""
      method="POST"
      id = "form-change-status"
      path = "/admin/products/change-status"
      )

   //- xoa 1 san pham . 
   form(
      action=""
      method ="POST"
      id = "form-change-item"
      path = "/admin/products/delete"
      
      ) 

   //-nhung file . 
   script(src="/admin/js/product.js") 

      

   

         